@model ProcesoTareas.Models.ViewModel.EditarUsuarioModelo

@{
    ViewBag.Title = "Editar Usuario";
}

<h1>Editar Usuario</h1>

<form method="post" class="mt-3">
    <div class="form-group row">
        <label asp-for="Id" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Id" disabled class="form-control">
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="Email" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="NombreUsuario" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-10">
            <input asp-for="NombreUsuario" class="form-control">
            <span asp-validation-for="NombreUsuario" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group row">
        <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="width:auto">Actualizar</button>
            <a asp-action="Usuarios" class="btn btn-primary" style="width:auto">Cancelar</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Usuario Roles</h3>
        </div>
        <div class="card-body">
            @if (Model.Roles.Any())
            {
                foreach (var rol in Model.Roles)
                {
                    <h5 class="card-title">@rol</h5>
                }
            }
            else
            {
                <h5 class="card-title">Ninguno</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="GestionarRolesUsuario" asp-route-IdUsuario="@Model.Id" style="width:auto" class="btn btn-primary">
                Gestionar roles
            </a>

        </div>
    </div>

    <div class="card mt-3">
        <div class="card-header">
            <h3>Usuario Claims</h3>
        </div>
        <div class="card-body">
            @if (Model.Notificaciones.Any())
            {
                foreach (var claim in Model.Notificaciones)
                {
                    <h5 class="card-title">@claim</h5>
                }
            }
            else
            {
                <h5 class="card-title">Ninguno</h5>
            }
        </div>

        <div class="card-footer">
            <a asp-action="GestionarUsuarioClaims" asp-route-IdUsuario="@Model.Id"
               style="width:auto" class="btn btn-primary">
                Gestionar Claims
            </a>
        </div>
    </div>
</form>
