@inject SignInManager<IdentityUser> SignInManager



<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <title>Gestion de Tareas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="Admindek Bootstrap admin template made using Bootstrap 4 and it has huge amount of ready made feature, UI components, pages which completely fulfills any dashboard needs." />
    <meta name="keywords" content="flat ui, admin Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="colorlib" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>

    <link rel="icon" href="https://colorlib.com/polygon/admindek/files/assets/images/favicon.ico" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand:500,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/index/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/index/css/waves.min.css" type="text/css" media="all">
    @*<link rel="stylesheet" type="text/css" href="~/index/css/sweetalert.css">*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>

    <link rel="stylesheet" type="text/css" href="~/index/css/feather.css">
    <link rel="stylesheet" type="text/css" href="~/index/css/font-awesome-n.min.css">
    <link rel="stylesheet" href="~/index/css/chartist.css" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="~/index/css/style.css">
    <link rel="stylesheet" type="text/css" href="~/index/css/widget.css">
    <link rel="stylesheet" type="text/css" href="~/index/css/pages.css">
</head>

<body>

    <div class="loader-bg">
        <div class="loader-bar"></div>
    </div>
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">
            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">
                    <div class="navbar-logo">
                        <a href="index.html">
                            xxxx @*<img class="img-fluid" src="png/logo.png" alt="Theme-Logo" />*@
                        </a>
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu icon-toggle-right"></i>
                        </a>
                        <a class="mobile-options waves-effect waves-light">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                    <div class="navbar-container container-fluid">
                        <ul class="nav-left">
                            <li class="header-search">
                                <div class="main-search morphsearch-search">
                                    <div class="input-group">
                                        <span class="input-group-prepend search-close">
                                            <i class="feather icon-x input-group-text"></i>
                                        </span>
                                        <input type="text" class="form-control" placeholder="Enter Keyword">
                                        <span class="input-group-append search-btn">
                                            <i class="feather icon-search input-group-text"></i>
                                        </span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a href="#!" onclick="if (!window.__cfRLUnblockHandlers) return false; javascript:toggleFullScreen()" class="waves-effect waves-light" data-cf-modified-d2d1d6e2f87cbebdf4013b26-="">
                                    <i class="full-screen feather icon-maximize"></i>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-right">

                            <li class="user-profile header-notification">
                                <div class="dropdown-primary dropdown">
                                    <div class="dropdown-toggle" data-toggle="dropdown">
                                        @*<img src="jpg/avatar-4.jpg" class="img-radius" alt="User-Profile-Image">*@
                                        <span>@User.Identity.Name</span>
                                        <i class="feather icon-chevron-down"></i>
                                    </div>

                                    <ul class="show-notification profile-notification dropdown-menu" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                                        <li>
                                            <form method="post" asp-controller="Cuentas" asp-action="CerrarSesion">
                                                <button type="submit" class="nav-link btn btn-link py-0">
                                                    <i class="feather icon-log-out"></i> Cerrar sesion
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                    <nav class="pcoded-navbar">
                        <div class="nav-list">
                            <div class="pcoded-inner-navbar main-menu">
                                <div class="pcoded-navigation-label">Proceso</div>
                                <ul class="pcoded-item pcoded-left-item">
                                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrador") || User.IsInRole("Usuario")))
                                    {
                                        <li class="pcoded-hasmenu">
                                            @*<li class="pcoded-hasmenu active pcoded-trigger">*@
                                            <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                <span class="pcoded-mtext">Tareas</span>
                                            </a>
                                            <ul class="pcoded-submenu">
                                                <li class="">
                                                    <a class="waves-effect waves-dark" asp-controller="Tareas" asp-action="Create">
                                                        <span class="pcoded-mtext">Alta</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="waves-effect waves-dark" asp-controller="Tareas" asp-action="Modificacion">
                                                        <span class="pcoded-mtext">Modificacion</span>
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a class="waves-effect waves-dark" asp-controller="Tareas" asp-action="Pendientes">
                                                        <span class="pcoded-mtext">Pendientes</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                        <span class="pcoded-micon">
                                                            <i class="feather icon-command"></i>
                                                        </span>
                                                        <span class="pcoded-mtext">Reportes</span>
                                                    </a>
                                                    <ul class="pcoded-submenu">
                                                        <li class=" ">
                                                            <a class="waves-effect waves-dark" asp-controller="Reportes" asp-action="TareaPorEstado">
                                                                <span class="pcoded-mtext">Tareas Por Estados</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    }
                                    @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Administrador")))
                                    {
                                        <div class="pcoded-navigation-label">Configuracion</div>
                                        <ul class="pcoded-item pcoded-left-item">
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon">
                                                        <i class="feather icon-box"></i>
                                                    </span>
                                                    <span class="pcoded-mtext">Tablas y Parametros</span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <li class="">
                                                        <a class="waves-effect waves-dark" asp-controller="TipoTareas" asp-action="Index">
                                                            <span class="pcoded-mtext">Tipo de tareas</span>
                                                            @*<a class="nav-link" asp-controller="Administracion" asp-action="Usuarios">usuarios</a>*@
                                                        </a>
                                                    </li>
                                                    <li class="">
                                                        <a class="waves-effect waves-dark" asp-controller="Prioridads" asp-action="Index">
                                                            <span class="pcoded-mtext">Prioridad</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="waves-effect waves-dark">
                                                    <span class="pcoded-micon">
                                                        <i class="feather icon-gitlab"></i>
                                                    </span>
                                                    <span class="pcoded-mtext">Administracion</span>
                                                </a>
                                                <ul class="pcoded-submenu">
                                                    <li class=" ">
                                                        <a class="waves-effect waves-dark" asp-controller="Administracion" asp-action="Roles">
                                                            <span class="pcoded-mtext">Roles</span>
                                                        </a>
                                                    </li>
                                                    <li class=" ">
                                                        <a class="waves-effect waves-dark" asp-controller="Administracion" asp-action="Usuarios">
                                                            <span class="pcoded-mtext">Usuario</span>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </li>
                                        </ul>
                                    }

                                </ul>
                            </div>
                        </div>
                    </nav>

                    <div class="pcoded-content">             

                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="card table-card">

                                                    <div class="card-block p-b-0">
                                                        <div class="table-responsive">
                                                            @RenderBody()
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="styleSelector"></div>

                </div>
            </div>
        </div>
    </div>


    <script data-cfasync="false" src="js/email-decode.min.js"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/jquery.min.js"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/jquery-ui.min.js"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/popper.min.js"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/bootstrap.min.js"></script>
    <script src="~/index/js/waves.min.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/jquery.slimscroll.js"></script>
    <script src="~/index/js/jquery.flot.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/jquery.flot.categories.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/curvedlines.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/jquery.flot.tooltip.min.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/chartist.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/amcharts.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/serial.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/light.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/pcoded.min.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script src="~/index/js/vertical-layout.min.js" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/custom-dashboard.min.js"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript" src="~/index/js/script.min.js"></script>

    <!-- modal-->
    @*<script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/modernizr.js"></script>
        <script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/css-scrollbars.js"></script>
        <script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/sweetalert.min.js"></script>
        <script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/modal.js"></script>
        <script src="~/index/js/classie.js" type="d28fd8086f5eb18f81d8672a-text/javascript"></script>
        <script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/modaleffects.js"></script>
        <script src="~/index/js/jquery.mcustomscrollbar.concat.min.js" type="d28fd8086f5eb18f81d8672a-text/javascript"></script>
        <script type="d28fd8086f5eb18f81d8672a-text/javascript" src="~/index/js/script.js"></script>
        <script src="~/index/js/rocket-loader.min.js" data-cf-settings="d28fd8086f5eb18f81d8672a-|49" defer=""></script>*@


    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    @*<script src="~/custom/js/sweetalerts.js"></script>*@
    <!-- fin-->


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13" type="d2d1d6e2f87cbebdf4013b26-text/javascript"></script>
    <script type="d2d1d6e2f87cbebdf4013b26-text/javascript">
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-23581568-13');
    </script>
    <script src="~/index/js/rocket-loader.min.js" data-cf-settings="d2d1d6e2f87cbebdf4013b26-|49" defer=""></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" crossorigin="anonymous"></script>
    <script src="/bundles/jquery"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>



    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

    @await Html.PartialAsync("_notificationPartial")
    @RenderSection("scripts", required: false)
</body>
</html>






























