@model ProcesoTareas.Models.Tarea

@{
    ViewData["Title"] = "Crear Tarea";
    Layout = "_Layout";
    List<SelectListItem> PrioridadId = (List<SelectListItem>)ViewBag.itemsPrioridad;

    List<SelectListItem> TipoTareaId = (List<SelectListItem>)ViewBag.itemsTipoT;
}


<script type="text/javascript">


    //$(document).ready(function () {
    //    var nombre, vencimiento, tipo, prioridad;
    //    nombre = document.getElementById("nombre_campo").value;



    //    $('#btnValidoAlerta').click(function () {

    //        if (nombre === "") {
    //            Swal.fire({
    //                title: 'se grabo con exito!',
    //                icon: 'success',
    //                confirmButtonText: 'Aceptar'
    //            });

    //        } else {
    //            Swal.fire({
    //                title: 'Error!',
    //                text: 'error al generar la tarea',
    //                icon: 'error',
    //                confirmButtonText: 'Aceptar'
    //            });

    //        }

    //        //alert("wooowwww");
    //    });

    //});


    function valido() {
        let nombre, vencimiento, tipo, prioridad;
        nombre = document.getElementById("Nombre").value;
        vencimiento = document.getElementById("FechaVencimiento").value;
        tipo = document.getElementById("normalDropwn").value;
        prioridad = document.getElementById("normalDropwn2").value;

        if (vencimiento === "") {
            return false;
        } else {
            Swal.fire({
                title: 'se grabo con exito!',
                icon: 'success',
                showConfirmButton: false
            });
        }
    }



</script>


<div class="card-border-success">
    <div class="card-footer">
        <h4 class="text-center">Alta de Tarea</h4>
    </div>
    <br />
    <div class="col-md-12">
        <form asp-action="Create" onsubmit="return valido();">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="control-label col-md-2">Nombre</div>
                <div class="col-6">
                    <input asp-for="Nombre" class="form-control" id="Nombre" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">Vencimiento</div>
                <div class="col-4">
                    <input asp-for="FechaVencimiento" class="form-control" value="" id="FechaVencimiento" />
                    <span asp-validation-for="FechaVencimiento" class="text-danger"></span>

                </div>

            </div>
            <div class="form-group">
                <div class="control-label col-md-2">Tipo De Tarea</div>
                <div class="col-4">
                    @Html.DropDownListFor(model => model.TipoTareaId, TipoTareaId, "Seleccione un tipo..", new { id = "normalDropwn", @class = "form-control" })
                    <span asp-validation-for="TipoTareaId" class="text-danger"></span>

                </div>
            </div>
            <div class="form-group">
                <div class="control-label col-md-2">Prioridad</div>
                <div class="col-4">
                    @*@Html.DropDownList("prioridad", PrioridadId, "Seleccione un prioridad..", new { id = "normalDropwn2", @class = "form-control" })*@
                    @Html.DropDownListFor(model => model.PrioridadId, PrioridadId, "Seleccione un prioridad..", new { id = "normalDropwn2", @class = "form-control" })
                    <span asp-validation-for="PrioridadId" class="text-danger"></span>


                </div>
            </div>

            <div class="form-group">
                <div class="control-label col-md-2">Observación</div>
                <div class="col-11">
                    @Html.TextAreaFor(model => model.Observacion, new { rows = 8, @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
                    <span class="messages"></span>
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-12">
                    <input type="submit" value="Guardar" class="btn btn-success" id="btnValidoAlerta" />
                </div>
            </div>

        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


